<div class="grid-container">
  <h1 #titulo class="mat-h1">Enruteador de Vehiculos</h1>
  <mat-grid-list cols="2" rowHeight="500px">
    <!-- MAPA -->
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-mapa [sites]="sites" [latitude]="mapCenter.lat" [longitude]="mapCenter.lng"></app-mapa>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!-- SITIOS -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Sitios
            <div class="more-button">
              <button mat-mini-fab color="primary" (click)="openModal()">
                <mat-icon>published_with_changes</mat-icon>
              </button>
              <button mat-mini-fab (click)="addSite()">
                <mat-icon>plus_one</mat-icon>
              </button>
              </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-site-list #siteTable [(siteList)]="sites"></app-site-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!-- VEHICULOS -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Vehiculos
            <button mat-mini-fab class="more-button" (click)="addVehicle()">
              <mat-icon>plus_one</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-vehicle-list #vehicleTable></app-vehicle-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
