<h1 mat-dialog-title>Solución</h1>
<div mat-dialog-content>
  <!-- Map -->
  <agm-map [zoom]="15" [styles]="styles" [latitude]="data.sites[0].lat" [longitude]="data.sites[0].lng">
    <agm-marker *ngFor=" let site of data.sites; index as i" [label]="i.toString()" [latitude]="site.lat"
      [longitude]="site.lng">
    </agm-marker>
    <agm-polyline *ngFor="let route of data.solution.routes; index as j" [strokeColor]="colors[j]"
      (lineClick)="openInfo($event,j,route)">
      <agm-polyline-point *ngFor="let point of route.path" [latitude]="data.sites[point.locationIndex].lat"
        [longitude]="data.sites[point.locationIndex].lng">
      </agm-polyline-point>
      <agm-icon-sequence [fixedRotation]="false" offset="5%" repeat="25%" [path]="'FORWARD_OPEN_ARROW'">
      </agm-icon-sequence>
    </agm-polyline>
    <agm-info-window [isOpen]="infoWindow.isOpen" [latitude]="infoWindow.lat" [longitude]="infoWindow.lng"
      (infoWindowClose)="closeInfo()">
      <p><strong> {{infoWindow.title}}</strong></p>
      <p>Distancia: <em>{{infoWindow.distance| number}}mts</em> </p>
      <p>Carga: <em>{{infoWindow.load| number}}</em></p>
    </agm-info-window>
  </agm-map>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close color="primary" cdkFocusInitial>Cerrar</button>
  <button mat-button>
    <mat-icon color="primary">local_shipping</mat-icon>Distancia Total:
    {{data.solution.totalDistanceOfAllRotutes |number}}mts
  </button>
  <button mat-button>
    <mat-icon color="primary">hourglass_bottom</mat-icon>Carga Total: {{data.solution.totalLoadOfAllRoutes|number}}
  </button>
  <button mat-button>
    <mat-icon color="warn">remove_circle</mat-icon>Sitios Dropeados: {{data.solution.droppedNodes |json}}
  </button>
</div>
