<h1 mat-dialog-title>Solución</h1>
<div mat-dialog-content>
  <!-- Map -->
  <agm-map [zoom]="15" [styles]="styles" [latitude]="data.sites[0].lat" [longitude]="data.sites[0].lng">
    <agm-marker *ngFor=" let site of data.sites; index as i" [label]="i.toString()" [latitude]="site.lat"
      [longitude]="site.lng">
    </agm-marker>
    <agm-direction *ngFor="let route of data.solution.routes; index as j" [origin]="origin[j]"
      [destination]="destination[j]" [waypoints]="waypoints[j]" [renderOptions]="options[j]">
    </agm-direction>
  </agm-map>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close color="primary" cdkFocusInitial>Cerrar</button>
  <button mat-button>
    <mat-icon color="primary">local_shipping</mat-icon>Distancia Total:
    {{data.solution.totalDistanceOfAllRotutes |number}}mts
  </button>
  <button mat-button>
    <mat-icon color="primary">hourglass_bottom</mat-icon>Carga Total: {{data.solution.totalLoadOfAllRoutes|number}}
  </button>
  <button mat-button>
    <mat-icon color="warn">remove_circle</mat-icon>Sitios Dropeados: {{data.solution.droppedNodes |json}}
  </button>
</div>
